.all--tours {
  padding: 68px 0;
  background: #f7fafd;
}

.single_place {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 30px;
}

.single_place .thumb {
  position: relative;
  overflow: hidden;
}

.single_place .thumb img {
  width: 100%;
}

.single_place .thumb .prise {
  position: absolute;
  background: #7ea0ff;
  padding: 7px 18px 4px 18px;
  display: inline-block;
  top: 20px;
  left: 20px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  color: #fff;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.single_place .place_info {
  padding: 27px 20px 25px 20px;
}

.single_place .place_info h3 {
  font-size: 22px;
  font-weight: 400;
  color: #040e27;
  margin-bottom: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.single_place .place_info p {
  font-size: 14px;
  font-weight: 400;
  color: #7a838b;
  margin-top: 2px;
  margin-bottom: 7px;
}

.single_place .place_info .rating_days span .ratings {
  font-size: 14px;
  color: #fdae5c;
}

.single_place .place_info .rating_days span .ratingsQuantity {
  font-size: 14px;
  color: #7a838b;
  margin-left: 5px;
}

.single_place .place_info .rating_days .days {
  font-size: 14px;
  font-weight: 400;
  color: #7a838b;
}

.single_place .place_info .rating_days .days i {
  margin-right: 8px;
}

.single_place .place_info .rating_days .days a {
  font-size: 14px;
  color: #7a838b;
}

.single_place:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.single_place:hover .place_info h3 {
  color: #ff4a52;
}

.single_place:hover .thumb .prise {
  background: #ff4a52;
}

.more_place_btn {
  margin-top: 40px;
}

.place_info h3 {
  font-size: 16px;
  font-weight: 500;
  color: #001d38;
  margin-bottom: 26px;
}

.filter_bordered {
  border: 1px solid #dee2e7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
}

@media (max-width: 767px) {
  .filter_bordered {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .filter_bordered {
    margin-bottom: 30px;
  }
}

.filter_inner {
  display: block;
  overflow: visible;
}

.filter_inner .nice-select {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #aab1b7;
  font-weight: 300;
  background: transparent;
  border: 1px solid #dee2e7;
  margin-bottom: 15px;
}

.filter_inner .nice-select::after {
  content: "\f0d7 ";
  right: 21px;
  top: 5px;
  font-family: "fontawesome";
  color: #aab1b7;
  font-size: 16px;
}

.filter_inner .nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #000;
  font-weight: 400;
}

.filter_inner .nice-select.open .list {
  width: 100%;
}

.range_slider_wrap span.range {
  color: #040e27;
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-bottom: 15px;
}

.range_slider_wrap p {
  margin-top: 14px;
  margin-bottom: 27px;
}

.range_slider_wrap p input {
  background-color: transparent;
}

.range_slider_wrap .ui-widget.ui-widget-content {
  border: 0;
  background: #ffd8da;
}

.range_slider_wrap .ui-slider-horizontal {
  height: 2px;
}

.range_slider_wrap .ui-state-default,
.range_slider_wrap .ui-widget-content .ui-state-default,
.range_slider_wrap .ui-widget-header .ui-state-default,
.range_slider_wrap .ui-button,
.range_slider_wrap html .ui-button.ui-state-disabled:hover,
.range_slider_wrap html .ui-button.ui-state-disabled:active {
  border: 2px solid #ff4a52;
  background: #fff;
  font-weight: normal;
  width: 14px;
  height: 16px;
  border-radius: 5px;
}

.range_slider_wrap .ui-widget-header {
  background: #ff4a52;
}

.range_slider_wrap .ui-slider-horizontal .ui-slider-handle {
  top: -7px;
  margin-left: -0.6em;
}

.reset_btn button {
  width: 100%;
}
